<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAPPIChannelMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XML2DataSet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <SAPPIChannelMonitor.Properties.Settings>
            <setting name="sid1" serializeAs="String">
                <value />
            </setting>
            <setting name="sid2" serializeAs="String">
                <value />
            </setting>
            <setting name="sid3" serializeAs="String">
                <value />
            </setting>
            <setting name="sid4" serializeAs="String">
                <value />
            </setting>
            <setting name="sid5" serializeAs="String">
                <value />
            </setting>
            <setting name="sid1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="sid2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="sid3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="sid4Name" serializeAs="String">
                <value />
            </setting>
            <setting name="sid5Name" serializeAs="String">
                <value />
            </setting>
            <setting name="workspace" serializeAs="String">
                <value />
            </setting>
        </SAPPIChannelMonitor.Properties.Settings>
        <XML2DataSet.Properties.Settings>
            <setting name="sid1" serializeAs="String">
                <value />
            </setting>
            <setting name="sid2" serializeAs="String">
                <value />
            </setting>
            <setting name="sid3" serializeAs="String">
                <value />
            </setting>
            <setting name="sid4" serializeAs="String">
                <value />
            </setting>
            <setting name="sid5" serializeAs="String">
                <value />
            </setting>
            <setting name="sid1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="sid2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="sid3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="sid4Name" serializeAs="String">
                <value />
            </setting>
            <setting name="sid5Name" serializeAs="String">
                <value />
            </setting>
        </XML2DataSet.Properties.Settings>
    </userSettings>
</configuration>
